body {
    text-align:center;
    background-color:#64B5F6;
  }
  #fp {
    word-spacing:10px;
    font-variant:small-caps;
    text-align:center;
    font-size:80px;
    color:#004D40;
  }
  #i1,#i2,#i3,#i4,#i5 {
    border-style:solid;
    border-color:#FFEE58;
    border-radius:50px;
    padding:5px;
    width:778px;
    height:678px;
  }
  #r1,#r2,#r3,#r4,#r5 {
    font-size:50px;
    color:white;
  }